{%include 'navbar.html'%}
<html>
    <div class="content">
    <h1>Data entry</h1><br>

    <form method="POST" enctype="multipart/form-data">
        <label>Name</label>
        <input type="text" id="name" name="name"><br><br>

        <label>location</label>
        <input type="text" id="location" name="location"><br><br>

        <label>content</label>
        <input type="text" id="content" name="content"><br><br>

        <label>photo</label>
        <input type="file" name="file" accept="image/*"><br><br>

    <button type="submit">sumbit</button>
    </form>
    </div>
</html>

<style>
    .content {
        padding-top: 5%;
    }
</style>