<!DOCTYPE html>
<html lang="en">
<head>
    <title>Explore Posts</title>
    
    <script src="{{ url_for('static', filename='js/explore.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
</head>
{% include 'navbar.html' %}

<body>
    <div class="content">
        <h1>Explore</h1>

    <!-- Fixed Sidebar that shows the user's current itinerary -->
    <div class="sidebar">
        <h3>Itinerary</h3>
        <div id="itinerary">
            <!-- Loop through the 'itinerary' data passed from the server and display each item -->
            {% for item in itinerary %}
                <p>{{ item['location'] }} - {{ item['username'] }}<br><strong>Bus:</strong> {{ item['uva'] }}, {{ item['cville'] }}</p>
            {% endfor %}
        </div>
            <!-- Form to clear the user's itinerary -->
        <form action="/clear_itinerary" method="POST">
            <button type="submit">
                <img src="{{ url_for('static', filename='img/clear_it.jpg') }}" alt="Clickable Image">
            </button>
        </form>
    </div>

    <!-- Display Posts Section -->
    <!-- Loop through the 'posts' data passed from the server and show each post -->
    <div class="explore-page">
        {% for post in posts %}
            <div class="post">
                <!-- Display the image associated with the post -->
                <img src="{{ url_for('uploaded_file', filename=post['picture'].replace('img/', '')) }}" alt="Post Image" width="200">

                <div class="post-content">
                    <!-- Display post location and address -->
                    <h3>{{ post['locationname'] }} - {{ post['address'] }}</h3>
                    <!-- Display username of the person who made the post -->
                    <p><strong>{{ post['username'] }}</strong></p>
                    <!-- Display the content of the post -->
                    <p>{{ post['content'] }}</p>
                    <!-- Display transportation information -->
                    <p><strong>Transportation:</strong> {{ post['uva'] }}, {{ post['cville'] }}</p>
                    <!-- Button that triggers the addToItinerary function when clicked -->
                    <button onclick="addToItinerary('{{ post['locationname'] }}', '{{ post['username'] }}', '{{ post['uva'] }}', '{{ post['cville'] }}')">
                        <img src="{{ url_for('static', filename='img/add_it.jpg') }}" alt="Clickable Image">
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>

<style>
    .content {
        padding-top: 5%;
    }
</style>